{{! app/templates/login.hbs }}
<div id="loginPage">
<br>
<br>
<br>
<br>
<div class="ui grid container">
  <div class="ui one column stackable page grid">
    <div id="content">

      {{ messages-errors errors=errors }}
      <!-- {{ emptyErrors }} -->


    <form {{action 'authenticate' on='submit'}} class="ui error form inverted white segment" id="loginForm">

      <!-- <h3 class="ui grey header">
        <i class="user icon"></i>
        <div class="content">
          Login
        </div>
      </h3> -->

      <div class="field">
        <div class="ui icon labeled input full-width">
          <div class="ui label">
            <i class="user icon"></i>
          </div>
          {{ input type='text' value=identification id='user_name' placeholder='Username' }}
          <i class="warning red icon"></i>
        </div>
      </div>
    <br>
      <div class="field">
        <div class="ui icon labeled input full-width">
          <div class="ui label">
            <i class="lock icon"></i>
          </div>
          {{input type='password' value=password id='password' placeholder='Password'}}
          <i class="warning red icon"></i>
        </div>
      </div>
      <br>

      <button type="submit" class="fluid ui green button" style="text-align: right!important;">Login</button>
    </form>
  </div>
</div>
</div>

</div>
