<div id="signUpPage">
<br>
<br>
<div class="ui grid container">
  <div class="ui one column stackable page grid">
    <div id="content">

      {{ messages-errors errors=model.errors }}
      <!-- {{ emptyErrors }} -->


    <form {{action 'register' on='submit'}} class="ui error form inverted white segment" id="signUpForm">

      <div class="field">
        <div class="ui icon labeled input full-width">
          <div class="ui label icon">
            <i class="user icon"></i>
          </div>
          {{ input type='text' value=userName id='userName' placeholder='Username' }}
          <i class="warning red icon"></i>
        </div>
      </div>
      <br>
      <div class="field">
        <div class="ui icon labeled input full-width">
          <div class="ui label icon">
            <i class="mail icon"></i>
          </div>
          {{ input type='email' value=email id='email' placeholder='Email' }}
          <i class="warning red icon"></i>
        </div>
      </div>
      <br>
      <div class="field">
        <div class="ui icon labeled input full-width">
          <div class="ui label icon">
            <i class="info icon"></i>
          </div>
          {{ input type='text' value=firstName id='firstName' placeholder='First Name' }}
          <i class="warning red icon"></i>
        </div>
      </div>
      <br>
      <div class="field">
        <div class="ui icon labeled input full-width">
          <div class="ui label icon">
            <i class="info icon"></i>
          </div>
          {{ input type='text' value=lastName id='lastName' placeholder='Last Name' }}
          <i class="warning red icon"></i>
        </div>
      </div>
      <br>
      <div class="field">
        <div class="ui icon labeled input full-width">
          <div class="ui label icon">
            <i class="lock icon"></i>
          </div>
          {{input type='password' value=password id='password' placeholder='Password'}}
          <i class="warning red icon"></i>
        </div>
      </div>
      <br>
      <div class="required field">
        <div class="ui icon labeled input full-width">
          <div class="ui label icon">
            <i class="lock icon"></i>
          </div>
          {{input type='password' value=passwordConfirmation id='passwordConfirmation' placeholder='Password Confirmation'}}
          <i class="warning red icon"></i>
        </div>
      </div>
      <br>

      <button type="submit" class="fluid green ui button" style="text-align: right!important;">SignUp</button>
    </form>
  </div>
</div>
</div>

</div>
