
<div class="ui clearing vertical segment">
  <h2 class="ui left floated header">
    <i class="database grey icon"></i>
    <div class="content">
      Storages
      <div class="sub header">Manage your keyspaces</div>
    </div>
  </h2>
  <div class="ui right floated header">
    <div class="ui buttons">
      <button {{action 'openNewModal'}} class="ui icon green button">
        <i class="add square large icon"></i>
      </button>
      <button class="ui icon blue button">
        <i class="help large icon"></i>
      </button>
    </div>
  </div>
</div>
<div></div>
{{ flash-message messages=flashMessages }}
<br>
{{#if model }}
<div class="ui stackable doubling three column center aligned grid">
  {{#each item in model}}
  {{#unless item.isNew }}
      <div class="column">
      <div class="ui storage-list shape">
        <div class="sides">
          <div class="active side">
            <div class="ui card">
              <i class="database massive inverted blue bordered icon" id="full-width"></i>
              <div class="content">
                <div class="header">{{item.key}}</div>
                <div class="meta">
                  <a>Acquaintances</a>
                </div>
                <div class="description">
                  {{item.description}}
                </div>
              </div>
              <div class="extra content">
                <span class="right floated">
                  <button {{ action 'manageStorage' item }}class="ui green button">
                    <i class="trello icon"></i>
                    Manage
                  </button>
                </span>
                <button class="ui blue button">
                  <i class="pie chart icon"></i>
                  Statistics
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/unless}}
  {{/each}}
</div>
{{/if}}
